.vscode/**
.vscode-test/**
src/**
ui/node_modules/**
ui/src/**
ui/public/**
ui/coverage/**
.gitignore
.gitattributes
build/**
scripts/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
tests/**
vsc-extension-quickstart.md
package-lock.json
ui/package-lock.json
ui/vite.config.ts
ui/tsconfig.json
ui/tsconfig.node.json
ui/postcss.config.js
ui/tailwind.config.js
ui/README.md
ui/.gitignore
ui/index.html
